<table>
<tr>
<th>Original URL</th>
<th>Shortened URL</th>
</tr>

<%  @urls.each do |url| %>
    <tr>
    <td> <a href = <%= url.long_url %> ><%= url.long_url %></a></td>
    <td> <%= link_to url.short_url, controller: :urls, action: :short, id: url %></a> </td>
    <td> <%= link_to 'Show', url_path(url) %> </td>
    <td><%= link_to 'Delete', url_path(url), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>
</table>

<%= link_to "Shorten a Url!", new_url_path %>
